
.vs/Trabalho loja vestuario cpp/v17/Browse.VC.opendb
.vs/Trabalho loja vestuario cpp/FileContentIndex/896c2cd4-d644-4caa-bfec-751fff92fcba.vsidx
.vs/Trabalho loja vestuario cpp/FileContentIndex/b27caf52-f4e8-418a-a720-8ef4f1989b3d.vsidx
.vs/Trabalho loja vestuario cpp/FileContentIndex/896c2cd4-d644-4caa-bfec-751fff92fcba.vsidx
.vs/Trabalho loja vestuario cpp/v17/.suo
.vs/Trabalho loja vestuario cpp/v17/Browse.VC.db
.vs/Trabalho loja vestuario cpp/v17/Browse.VC.db-shm
.vs/Trabalho loja vestuario cpp/v17/Browse.VC.db-wal